div {
    height:780px;
    
    display: inline-block;
    float:left;
}

#red {
    background:url("batman1.png");
    width:33.333%;
}

#blue {
    background:url("Superman.jpg");
    width:33.333%;
}

#yellow {
    background:url("flash.jpg");
    width:33.333%;
}



body
{
  background:black;
}
#ght{
 
 z-index:10;
 -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg); /* Standard syntax */
    -ms-transform: translate(500px,100px); /* IE 9 */
    -webkit-transform: translate(500px,100px); /* Chrome, Safari, Opera */
    transform: translate(500px,100px);
}
 
 

 
body,p,h1,ul,li{
    margin:0px;
    padding:0px;
    border:0px;
}